<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <!--        <Property name="baseOutput">../log/app.log</Property>-->
        <Property name="matchOutput">./log/match.log</Property>
    </Properties>


    <Appenders>

        <!-- 控制台输出 -->
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %p %c [%t] %m%n</Pattern>
            </PatternLayout>
        </Console>


        <RollingRandomAccessFile name="matchRollingFile" fileName="${matchOutput}"
                                 filePattern="${matchOutput}.%d{yyyy-MM-dd}.log.%i">
            <PatternLayout>
                <Pattern>%d %p %c [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>

</Configuration>